/* THEME */
/* ===============================*/

@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;600;700&display=swap");


:root {
    /* colors */
    --white: #FFF;
    --black: #000;
    --primary-color: #696CFF;
    --primary-color-gradiant: #696cff4d;
    --primary-bg-color: #D9DEE3;
    --secondary-bg-color: #FFF;
    --primary-text-color: #697a8d;
    --input-background-color: #D9DEE3;
    --input-border-color: #63728F;
    --table-header: #63728F;
    --modal-mask: rgba(0, 0, 0, 0.5);
    --box-shadow: rgba(10,10,10,.05);
    --error: #ff294b;
    --green: #55B91D;
    --chevron: #909FBE;
    /* fonts */
    --primary-font: 'Public Sans';
    --text-banner-header: 1.5rem;
  }

/* TAG STYLES */
/* ================================================== */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body {
    font-family: var(--primary-font);
    color: var(--primary-text-color);
    background-color: var(--primary-bg-color);
    min-height: 100vh;
    line-height: 28px;
  }
  
  h1 {
    line-height: 40px;
    color: var(--white);
  }

  a {
    color: var(--primary-color);
    text-decoration: none;
  }
  
  button {
    font-size: 0.875rem;
    border-radius: 10px;
    text-transform: uppercase;
    border-width:0px;
    cursor:pointer;
    padding: calc(.5em - 1px) 1em;
    padding-bottom: 0.1875rem;
    user-select: none;
    height: 2.5rem;
  }
  
  button:disabled {
    background-image: none!important;
      background-color: var(--input-border-color)!important;
  }
  
  h3 {
    font-size: 1.2rem;
    margin: 0 0 1.5rem 0;
  }
  
  input {
    height: 2.5rem;
    box-shadow: inset 0 .0625em .125em var(--box-shadow);
    width: 100%;
    margin-bottom: 1.25rem;
    background-color: var(--input-background-color);
    /* border: 2px solid var(--input-border-color); */
    border: none;
    color: var(--primary-text-color);
    border-radius: 10px;
    margin-top: 0.625rem;
    padding-left: 0.875rem;
  }
  
  input::placeholder {
    color: var(--input-border-color);
    opacity: 1;
    font-size: 0.875rem;
  }
  
  label {
    font-family: var(--primary-font);
    padding-left: 0.375rem;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
  }
  
  table {
    width: 100%;
  }
  
  table tr {
    height: 3rem;
  }
  
  table th {
    color: var(--table-header);
    font-size: 1.125rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    text-align: center;
  }
  
  table tbody td {
    text-align: center;
    font-size: 1.125rem;
  }
  
  table th:first-child, td:first-child {
    text-align: start;
  }
  
  table td:last-child {
    text-align: end;
  }
  
  table button {
    padding: 0 1.5rem;
    height: 2rem;
    min-width: 6.875rem;
  }

  /* UTILS */
  /* =========================================== */
  .error {
    color: var(--error)!important;
  }
  
  .error-summary {
    text-align: center;
    color: var(--error)!important;
  }
  
  .success {
    color:  var(--green);
  }
  
  .flex-col {
    display: flex;
    flex-direction: column;
  }
  
  .flex-col-centerv {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .justify-end {
    display: flex;
    justify-content: flex-end;
  }
  
  .justify-start {
    display: flex;
    justify-content: flex-start;
  }
  
  .justify-end-centerv {
    display: flex;
    justify-content: flex-end;
    align-items: center;

  }
  
  .justify-between {
    display: flex;
    justify-content: space-between;
  }
  
  .justify-between-centerv {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .relative {
    position: relative;
  }
  
  .flex {
    display: flex;
  }
  
  .h-screen{
    height: 100vh;
  }
  
  .mr-6 {
    margin-right: 1.5rem; /* 24px */
  }
  
  .mb-1 {
    margin-bottom: 1rem; /* 16px */
  }
  
  .mb-10 {
    margin-bottom: 1.5rem; /* 24px */
  }
  
  .mt-33 {
    margin-top: 2.063rem; /* 33px*/
  }
  
  .table-responsive {
    overflow-x: auto;
      width: 100%;
  }
  
  .grid-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1.5rem;
  }
  
  .success-alert {
    padding: 14px 1rem;
    display: flex;
    column-gap: 1.5rem;
    border-radius: 6px;
  }
  
  .success-alert h3 {
      color:  var(--green);
      font-size: 1.688rem;
      font-weight: 500;
      margin: 0 0 8px 0;
  }
  
  .success-alert p {
      color:  var(--green);
      font-size: 1.125rem;
      font-weight: 400;
      margin: 0;
  }
  
  .grid-1-2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 1.5rem;
  }
  
  .font-xl {
    font-size: 1.25rem; /* 20px */
    font-weight: 500;
  }
  
  .hide-mobile {
    display:none;
  }
  
  .hide-desktop {
    display:block;
  }
  
  @media screen and (min-width: 64em) {
    .hide-mobile {
      display:block;
    }
  
    .hide-desktop {
      display:none;
    }
  }

  /* COMPONENTS */
  /* ==================================== */
  /* These are just the css styles of "components" in figma or a design, these can be buttons etc that are used on multiple pages.
   Not to be mixed up with vue "components" which also include html and can be reusbale html tags e.g. modal.
*/

.hero {
    padding: 0 3rem;
    align-items: center;
    height: 7.5rem;
    border-radius: 8px;
  }
  
  .hero-account {
    background-image: linear-gradient(var(--primary-color-gradiant), var(--primary-color));
  
    padding: 2.375rem 4.5rem;
    height: 6.5625rem;
    margin-top: 0.6875rem;
  }

  @media screen and (max-width: 35.5em) {
    .hero-account { 
      border-radius: 0px;
      background-position: center;
    }
  }
  
  .hero h1 {
    color: #fff;
  }
  
  button.primary {
    background-image: linear-gradient(var(--primary-color), var(--primary-color));
    color: var(--secondary-bg-color);
  }
  
  button.primary:hover,
  button.primary:focus {
    opacity: 0.7;
  }
  
  button.secondary {
      border: solid 2px var(--primary-color);
      background-color: var(--secondary-bg-color);
      color: var(--primary-color);
  }
  
  button.secondary:hover {
    opacity: 0.7;
  }
  
  .modal-button {
    height: 2.5rem;
    width: 100%;
    align-self: center;
  }
  
  .avatar {
    text-transform: uppercase;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--yellow2);
  }
  
  
  .avatar img {
    width: 100%;
  }
  
  .avatar.sm {
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
  }
  
  .avatar.lg {
    width: 3.5rem;
    height: 3.5rem;
  }
  
  .card {
    background-color: var(--secondary-bg-color);
    border-radius: .5rem;
    padding: 1.5rem;
  }

  @media screen and (max-width: 35.5em) {
    .card {
      border-radius: 0px;
    }
  }
  
  .password-field {
    position: relative;
  }
  
  .password-field img {
    position: absolute;
    right: 1rem;
    top: 1.15rem;
    cursor: pointer;
  }
  
  .link-button {
    align-self: center;
    margin-top: 1rem;
    cursor: pointer;
  }
  
  .terms-label {
    font-size: 0.875rem;
    margin-bottom: 1.25rem;
    line-height: 20px;
    cursor: pointer;
    color: var(--chevron);
  }
  
  .terms-label input {
    width: 1.25rem;
    margin: 0px;
    height: 0.8125rem;
  }